<p style="color: green"><%= notice %></p>

<%= render @article %>

<div>
  <%= link_to "แก้ไขบทความ", edit_article_path(@article) %> |
  <%= link_to "กลับสู่รายการบทความ", articles_path %>

  <%= button_to "ทำลายบทความนี้", @article, method: :delete %>
</div>
